html, body {
    width: 100%;
    margin: 0;
}

/* Vertically centered */
#main {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#tweetInput {
    width: 50%;
}

#voiceInput {
    resize: vertical;
}

/* All progressbar text */
uib-progressbar span {
    color: white;
    white-space: nowrap;
}